* {box-sizing: border-box;}

body {
    
    height: 1000px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
}

main { 
    width: 80%;
    /* height: 90%;  */
    border: solid black;
    margin: 0 auto;}

.navbar {
    width: 100%;
    border: 1px solid black;
    height: 10%;
    display: flex;}



.content {
    width: 100%;
    border: 1px solid rgb(160, 30, 30);
    height: 90% ;}


footer {
    width: 100%;
    height: 10%;
    background-color: rgb(49, 48, 48);}


.logo { 
width: 25%;
height: 100%;
background-color: hotpink;
padding: 10px;}



.navbaras {
    background-color: hotpink;
    width: 75%;}


ul {
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}




.white {
    border:solid black
}


.Robopic {
    grid-area: Robopic;
    background-color: blanchedalmond;
}


.Learnmore {
    grid-area: Learnmore;
    background: cadetblue;
}

.microchippic {
    grid-area: microchippic;
    background-color: chartreuse;
}


.laptoppic {
    grid-area: laptoppic;
    background-color: darkcyan;
}


.textsample {
    grid-area: textsample;
    background: darkorchid;
}

.content { 
    /* height: 900px; */
    width: 80%;
    display: grid;
    margin: 0 auto;
    margin-top: 10%;
    grid-template-rows: 400px 200px 400px 400px 200px;
    grid-template-areas:"Robopic" "Learnmore" "microchippic" "laptoppic" "textsample";
}

img {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fab {font-size: 35px;}


@media only screen and (min-width: 765px) {
  .content {
      grid-template-columns: 1fr 1fr;  
      grid-template-areas: 
  "Robopic Robopic"
  "Robopic Robopic"
  "Learnmore microchippic"
  "laptoppic textsample"
  }    
}

@media only screen and (min-width: 1200px) {
  .content {
      grid-template-columns: 1fr 1fr 1fr 1fr;  
      grid-template-areas: 
  "Robopic Robopic Learnmore microchippic"
  "Robopic Robopic laptoppic textsample"
  }    
}

.style { 
   
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;;}