* {box-sizing: border-box;}

body {
    background-color: rgb(105, 96, 228);
    height: 1000px;
}

main { 
    width: 80%;
    /* height: 90%;  */
    border: solid black;
    margin: 0 auto;}

.navbar {
    width: 100%;
    border: 1px solid black;
    height: 10%;
    display: flex;}



.content {
    width: 100%;
    border: 1px solid rgb(160, 30, 30);
    height: 90% ;}


footer {
    width: 100%;
    height: 10%;
    background-color: rgb(49, 48, 48);}


.logo { 
width: 25%;
height: 100%;
background-color: hotpink;
padding: 10px;}



.navbaras {
    background-color: hotpink;
    width: 100%;}


ul {
    display: flex;
    float: right;}


li {margin: 20px;
list-style: none;}

.white {
    border:solid black
}


.Robopic {
    grid-area: Robopic;
    background-color: blanchedalmond;
}


.Learnmore {
    grid-area: Learnmore;
    background: cadetblue;
}

.microchippic {
    grid-area: microchippic;
    background-color: chartreuse;
}


.laptoppic {
    grid-area: laptoppic;
    background-color: darkcyan;
}


.textsample {
    grid-area: textsample;
    background: darkorchid;
}

.content { 
    /* height: 900px; */
    width: 80%;
    display: grid;
    margin: 0 auto;
    margin-top: 10%;
    grid-template-rows: 400px 200px 400px 400px 200px;
    grid-template-areas:"Robopic" "Learnmore" "microchippic" "laptoppic" "textsample";
}


@media only screen and (min-width: 765px) {
  .content {
      grid-template-columns: 1fr 1fr;  
      grid-template-areas: 
  "Robopic Robopic"
  "Robopic Robopic"
  "Learnmore microchippic"
  "laptoppic textsample"
  }    
}

@media only screen and (min-width: 1200px) {
  .content {
      grid-template-columns: 1fr 1fr 1fr 1fr;  
      grid-template-areas: 
  "Robopic Robopic Learnmore microchippic"
  "Robopic Robopic laptoppic textsample"
  }    
}